<div ng-include="list.menuTemplate.url"></div>


<div class="col-12 main">
  <div class="container">
    <div class="row">

      <div class="col-md-8 posts">
        <div class="row">

            <div class="col-md-12" ng-repeat="item in list.data">
              <div class="row">
                <div class="col-md-8">
                  <img src="../images/blog.jpg">
                </div>
                <div class="col-md-4">
                  <h3>{{value}}   {{list.data[key]}}</h3>
                  <p>toolset for building the framework most suited to your application development.</p>
                </div>
            </div>
            </div>

        </div>

      </div>

        <div class="col-md-4">
          <h4>HTML5 Boilerplate</h4>
      <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      </p>

      <h4>Angular</h4>
      <p>
        AngularJS is a toolset for building the framework most suited to your application development.
      </p>

      <h4>Karma</h4>
      <p>Spectacular Test Runner for JavaScript.</p>

      </div>

    </div>
  </div>
</div>
