
  <div class="header" ng-controller = "MenuCtrl as menu">

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#/">hello</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <div>
            <ul class="nav navbar-nav">
              <li ng-class="{active : menu.isActive('/')}"><a href="#!/">inicio</a></li>
              <li ng-class="{active : menu.isActive('/about')}"><a ng-href="#!/about">Blog</a></li>

            </ul>
          </div>
          <div>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>

</div>
